* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #ec1f24;
}

h1.app_name {
  text-align: center;
  margin: 20px 0;
  font-size: 50px;
}

form.searchForm {
  width: 50%;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  align-items: center;
  /*justify-content: center;*/
}

form.searchForm label {
  margin-right: 20px;
  font-size: 20px;
}

form.searchForm input {
  width: 600px;
  font-size: 20px;
}

form.searchForm button {
  padding: 5px 20px;
  margin: 0 20px;
  border: 1px solid #bd9244;
  background-color: #bd9244;
  color: #fff;
  font-size: 15px;
  transition: 0.3s all;
  cursor: pointer;
}

form.searchForm button:hover {
  background: black;
}

.card {
  width: 80%;
  margin: 30px auto;
  border: 5px solid #bd9244;
  padding: 20px;
  text-align: center;
  background: #cecece;
}

.card_details {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
}

.card_details div {
  flex: 0.5;
}

.card_detailsRight h4 {
  display: inline-block;
  font-size: 20px;
}

.card_detailsRight {
  margin: 10px 0;
}

.card_detailsLeft img {
  width: 50%;
}

.error {
  text-align: center;
  margin-top: 50px;
  font-weight: bold;
  font-style: italic;
}

.favorite {
  display: block;
  float: right;
  font-size: 35px;
  position: relative;
  top: -5px;
  cursor: pointer;
}

.favorite::after {
  content: "+";
}
